@import "tailwindcss";
@plugin "daisyui";

* {
  box-sizing: border-box;
}

.plusJakarta {
  font-family: "Plus Jakarta Sans", serif;
}

.inter {
  font-family: "Inter", serif;
}

.width {
  max-width: 1350px;
  margin: 0 auto;
}

.active {
  color: #196cf2;
  background-color: transparent;
}

.logo {
  background: linear-gradient(
    120deg,
    #092648,
    #092648,
    #226883,
    #53decd,
    #eb40bf,
    #a33b69,
    #092648,
    #092648
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
